/target
**/*.rs.bk
*.swp
*.swo
*~
.DS_Store
tests/bench/build/
tests/bench/07_concurrency.go_bin
tests/bench/01_recursion.go_bin
tests/bench/01_recursion.rust_bin
tests/bench/02_loops.go_bin
tests/bench/02_loops.rust_bin
tests/bench/03_arrays.go_bin
tests/bench/03_arrays.rust_bin
tests/bench/04_strings.go_bin
tests/bench/04_strings.rust_bin
tests/bench/05_maps.go_bin
tests/bench/05_maps.rust_bin
tests/bench/06_closures.go_bin
tests/bench/06_closures.rust_bin
tests/bench/07_concurrency.rust_bin
tests/bench/08_combined.go_bin
tests/bench/08_combined.rust_bin
